.containerCards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(120px,120px));
    gap: 24px;
    margin-bottom: 3em;
}

.titlePronostico {
    color: var(--colors-main-numbers-texts);
    font-size: 24px;
    margin-bottom: 1.1em;
}