.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1em;
    color: var(--colors-main-numbers-texts);
}

.containerCards {
    gap: 40px;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(2,minmax(328px, 1fr));
    grid-template-rows: 204px;
    grid-auto-rows: 159px;
}


.containerPorcent {
    margin-top: 1.6em;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
}

.barraContainer {
    height: .6em;
    border-radius: 1em;
    background-color: #E7E7EB;
}

.barra {
    width: 0;
    height: inherit;
    border-radius: inherit;
    background-color: rgb(231, 204, 2);
    background-color: rgba(30, 151, 231, 0.747);
    /* border: 1px solid black; */
    transition: width 1s;

}


@media (width <= 910px) {
    .containerCards {
        grid-template-columns: 328px;
    }
}